<h2>List of Locations</h2>

<ul>
  <% @locations.each do |loc| %>
  <strong>Location: </strong>
    <%= link_to loc.name, location_path(loc) %>
    has <%= loc.events.length %> listed events.
    <br>
  <% end %>
</ul>
