<h1>Ordered </h1>

<button type="button" class="btn btn-light"><%= link_to "London Boroughs", locations_path %></button>

<div class="list-group">
  <% @locations.each do |loc| %>
  <a href="/locations/<%= loc.id %>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= loc.name %></h5>
    </div>
    <small class="text-muted">Events Count: <%= loc.events.count %></small>
  </a>
  <% end %>
</div>
